on:
  pull_request:
    branches:
      - main
    paths:
      - main.py
      - pyproject.toml
      - uv.lock
      - .github/workflows/test-py.yaml

jobs:
  test-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
            persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
      
      - name: test
        run: uv run python -m doctest main.py -v
