on:
  pull_request:
    branches:
      - main
    paths:
      - main.py
      - pyproject.toml
      - uv.lock
      - .github/workflows/test-py.yaml

jobs:
  test-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
            persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      
      - name: test
        run: uv run python -m doctest main.py -v
